.hed {
    font-size: 90%;
    color: var(--ifm-color-secondary-darkest);
    padding-bottom: .5rem;
    display: inline-block;
}

.dek {
    font-size: 105%;
}

.aboutCard {
    background-color: var(--ifm-color-primary);
    max-width: 500px;
}

.aboutCardImage {
    text-align: center;
}

.aboutCardBody {
    text-align: center;
}

.cardTitle {
    font-style: italic;
}

.teamCardName {
    text-align: center;
}

.teamCardName>h4 {
    margin-bottom: 0;
}

.teamCardTitle {
    font-style: italic;
    text-align: center;
}

.teamCardImage {
    text-align: center;
}

.teamCardImage>img {
    height: 260px;
    border-radius: 2%;
    margin-top: 1rem;
}

.old {
    background-color: hsla(0, 0%, 0%, 0.6);
    font-style: italic;
    color: white;
    text-align: center;
}